@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
// @import '../../../node_modules/font-awesome/scss/font-awesome.scss';

//   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
body {
  margin-bottom: 20px;
}
a {
  color: #00B7FF;
}
section {
  background-color: #fff;
}
.card {
  .card-img {
    max-width: 38px;
  }
}
